/* Fonts */

@font-face {
     font-family: DaysLater;
     src: url('Fonts/28 Days Later.ttf'); 
}

@font-face {
	font-family: Manticore;
	src: url("Fonts/Manticore.otf");
}

@font-face {
	font-family: IntheWoods;
	src: url("Fonts/Inthewood-Regular.ttf");
}

@font-face {
	font-family: Population BB;
	src: url("Fonts/Population BB.otf");
}


/* Essentials */

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.body-bg {
	background-color: black;
}

.Header {
	font-family: Population BB;
	color: palegreen;
	font-size: 300%	;
	text-align: center;
	letter-spacing: 2px;
/*	text-shadow: 3px 3px palegreen;*/
}

.links {
	font-size: 150%;
	color: white;
	font-family: Manticore;
}

.epi-link {
	color: lime;
	font-size: 175%;
	font-family: Manticore;
}

.next-epi {
	text-align: center;
	font-size: 250%;
	color: yellow;
	font-family: Manticore;
}

.credits {
	color: white;
	text-align: right;
	font-family:'Coming Soon', cursive;
}

.stay-tuned {
	color: gold; 
	font-family: 'Roboto Mono', monospace;
	font-size: 500%; 
	text-align: center;
}

/* Story Alignments */

.epi-head {
	text-align: center;
	color: gold;
	font-size: 250%;
	font-family: Population BB;
	letter-spacing: 3px;
}

.scene-head {
	color: goldenrod;
	font-size: 240%;
	text-align: center;
	font-family: IntheWoods;
}

.scene-under {
	color: goldenrod;
}

.music-start {
	color: red;
	text-align: center;
	font-size: 150%;
	font-family: DaysLater;
	letter-spacing: 1px;
}

/* Story Names */

.fredrick {
	color: red;
	font-family: Manticore;
	letter-spacing: 4px;
	font-size: 90%;
}

.johnson {
	color: aqua;
	font-family: Manticore;
	letter-spacing: 4px;
	font-size: 90%;
}

.narrator {
	padding: 10px;
	border: 2px solid lime;
	font-family: 'Roboto Mono', monospace;
	color: white;	
	letter-spacing: -1px;
	font-size: 220%;
}

.descrip {
	padding: 10px;
	border: 2px solid red;
	font-family: 'Roboto Mono', monospace;
	color: white;	
	letter-spacing: -1px;
	font-size: 220%;
}

.misc {
	color: grey;
	font-family: Manticore;
	letter-spacing: 4px;
	font-size: 90%;
}

.piper {
	color: palevioletred;
	font-family: Manticore;
	letter-spacing: 4px;
	font-size: 90%;
}

.nelson {
	color: lightsalmon;
	font-family: Manticore;
	letter-spacing: 4px;
	font-size: 90%;
}

.peter {
	color: lightpink;
	font-family: Manticore;
	letter-spacing: 4px;
	font-size: 90%;
}

.patrick {
	color: palegreen;
	font-family: Manticore;
	letter-spacing: 4px;
	font-size: 90%;	
}

.story {
	color : white;
	font-family: Roboto Mono, monospace;
	font-size: 230%;
	letter-spacing: -1px;
}


/* Online Font Importing */

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Roboto+Mono&display=swap');
	
/*font-family: 'Coming Soon', cursive;
font-family: 'Roboto Mono', monospace;*/