@font-face {
     font-family: Header;
     src: url('Fonts/28 Days Later.ttf'); 
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.body-bg {
	background-color: black
}

.Header {
	font-family: Header;
	color: white;
	font-size: 250%	;
	text-align: center;
}